{{ partial "header.html" . }}

<div class="header">
 <img src="/indextitle.png" class="floatcenter"/>
</div>


<div class="content">
<!----
  {{ range ( .Paginate (where .Site.RegularPages "Type" "post")).Pages }}
    {{ .Render "summary"}}
  {{ end }}

  {{ partial "pagination.html" . }}
-->

<div class="floatright caption">
  <p><img src="profile2.png" alt="A little doodle of me."></p>
  <p> Your humble webmaster, hard at work. </p>
</div>

<h3>Dear Reader:</h3>
Welcome to Truck Stop Coffee! 
<br/>
<br/>
This is my lil' blog where I write about cartooning, writing, jazz, open source, terrible action flicks, and other things that hold my interest.
<br/>
<br/>
If you're curious as to who I am and what I'm about (and where you can find these comics of mine) you can <a href="/post/about">check out my About page,</a> head on over to <a href="https://sarahallenreed.com"> my main site</a> or <a href="/post/faq">check out the FAQ for some (in)frequently asked questions.</a>
<br/>
<br/>
You can also click on over to the <a href="/tags">Tags page</a> to check out topics that you might be interested in, view the <a href="/tags/photo-roll">Photo Roll</a> for some pretty pictures, or <a href="index.xml">subscribe to my nonsense via RSS.</a>
<br/>
<br/>
A couple interesting tags to get you started would be <a href="/tags/radio/">the Radio tag</a> if you'd like to read about my weekly radio shows, <a href="/tags/comics/">the &quot;Comics&quot; tag</a> if you want to see some of my books in progress and read my thoughts on the sequential art medium as a whole, <a href="/tags/the-finer-things/">&quot;The Finer Things&quot;</a> if you want to hear my thoughts on music, movies, and more, <a href="/tags/how-to-cook-shit/">&quot;How To Cook Shit&quot;</a> if a cooking column is something that strikes your interest, and <a href="/tags/dog/">&quot;Dog&quot;</a> if you'd like to see photos of the most majestic <a href="https://www.merriam-webster.com/dictionary/dingbat">dingbat</a> to ever walk this earth.
<br/>
<div class="floatleft caption">
  <p><img src="construction.png" alt="A little doodle of me."></p>
  <p> <a href="https://static.wikia.nocookie.net/63bffe1b-05b5-4df9-a1e8-6845ec733eca/scale-to-width/755">Sometimes I get carried away when working on the website.</a>  You'll see this lil' doodle of me if a page is a work in progress.</p>
</div>
<br/>
Also of note are the <a href="/post/misc">Miscellany page</a>, a little &quot;umbrella page&quot; for things that don't quite have a home but that I wanted to include here anyways, and the <a href="/post/updates">Project Update Threads</a>, which are running and evolving pages compiling everything I've written about projects I'm working on. They're constantly evolving and adding new pages, so check back on them often!
<br/>
<br/>
And speaking of constant evolution, it's worth noting that this site is always under construction. The beauty of working with hypertext is that everything one puts on a website can be treated as a living <a href="https://maggieappleton.com/garden-history">digital garden</a> of sorts, if the author chooses to do so. 
<br/>
<br/>
I very much enjoy that way of doing things, and while I'll often label posts that I plan on mucking about with in the future as &quot;under construction&quot; &#40;a status that I use the graphic to the left here to indicate&#41;, it should be assumed that everything on here is subject to update and change at any time. I view that as a feature, not a bug, and I hope you do too! 
<br/>
<br/>
&#40;Oh, and speaking of bugs and features...if you're curious as to what's changed since you last checked in, <a href="/post/misc_truckstopupdate/">you can check out the latest patch notes here!</a>&#41;
<br/>
<br/>
Thank you so much for visiting. I'm glad you're here with me today. You're amazing and don't let anyone tell you that you're not.
<br/>
<br/>
Have a good one.
<br/>
<br/>
<h3>--Piper &#60;3 </h3>
<br/>
<hr/>
<h1>Recent Ramblin's</h1>
<hr/>

  {{ range ( .Paginate (where .Site.RegularPages "Type" "post")).Pages }}
    {{ .Render "summary"}}
  {{ end }}

  {{ partial "pagination.html" . }}
</div>

{{ partial "footer.html" . }}
